{
  "query": {
    "bool": {
      "should": [
        {
          "simple_query_string": {
            "query": "{{#query}}\"{{.}}\"{{/query}}",
            "fields": [
              "title",
              "title.ngram",
              "content",
              "content.ngram"
            ]
          }
        }
      ],
      "minimum_should_match": 1
    }
  },
  "_source": [
    "title",
    "member",
    "created",
    "url"
  ],
  "highlight": {
    "fields": {
      "title": {
        "matched_fields": [
          "title",
          "title.ngram"
        ], 
        "type":"fvh"
      },
      "content": {
        "matched_fields": [
          "content",
          "content.ngram"
        ], 
        "type":"fvh"
      }
    }
  },
  "from": {{from}},
  "size": {{size}}
}